@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmare resetare parolă";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola ta a fost resetată. Accesează <a asp-page="./Login">link-ul acesta</a> pentru a te autentifica.
</p>
