@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de confidențialitate";
}

<div class="container">
    <div class="container col-md-4 pt-4 pb-2">
        <div class="container">
            <img class="img-fluid" src="@Url.Content("~/images/png/logo-no-background.png")" />
        </div>
    </div>
    <hr class="my-4" />

    <h1 class="display-6 text-uppercase">@ViewData["Title"]</h1>
    <p class="lead metxt-muted">Ultima actualizare: 19 februarie 2024</p>
    <p>Această notificare de confidențialitate pentru MoralityMatrix descrie cum și de ce putem colecta, stoca, utiliza și/sau partaja ("procesarea") informațiile dvs. atunci când utilizați serviciile noastre ("Serviciile"), cum ar fi atunci când:</p>
    <ul>
        <li>Vizitați site-ul nostru la <a class="link-phthalo-green" asp-page="/Index">moralitymatrix.azurewebsites.net</a>, sau oricare dintre site-urile noastre care conțin legături către această notificare de confidențialitate</li>
        <li>Interacționați cu noi în alte moduri conexe, inclusiv orice vânzări, marketing sau evenimente</li>
    </ul>
    <p>Întrebări sau îngrijorări? Citirea acestui aviz de confidențialitate vă va ajuta să înțelegeți drepturile și opțiunile privind confidențialitatea. Dacă nu sunteți de acord cu politicile și practicile noastre, vă rugăm să nu utilizați Serviciile noastre. Dacă aveți în continuare întrebări sau îngrijorări, vă rugăm să ne contactați la <a href="mailto:morality.matrix.2024@gmail.com" class="text-decoration-none link-phthalo-green">morality.matrix.2024@gmail.com</a>.</p>
    
    <h1 class="display-6 text-uppercase">Sumarul punctelor cheie</h1>
    <p>Acest rezumat oferă puncte cheie din notificarea noastră de confidențialitate, dar puteți afla mai multe detalii despre oricare dintre aceste subiecte făcând clic pe link-ul de după fiecare punct cheie sau folosind tabelul nostru de conținut de mai jos pentru a găsi secțiunea pe care o căutați.</p>

    <ul class="list-group mb-4">
        <li class="list-group-item">Ce informații personale prelucrăm? <a href="#item-1" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Prelucrăm informații personale sensibile? <a href="#item-1" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Primim informații de la terțe părți? <a href="#item-1" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Cum procesăm informațiile dvs.? <a href="#item-2" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">În ce situații și cu ce părți partajăm informații personale? <a href="#item-4" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Cum păstrăm informațiile dvs. în siguranță? <a href="#item-8" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Care sunt drepturile tale? <a href="#item-9" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Cum vă exercitaţi drepturile? <a href="#item-9" class="link-phthalo-green text-decoration-none">Aflați mai multe</a></li>
        <li class="list-group-item">Doriți să aflați mai multe despre ce facem cu orice informații pe care le colectăm? <a href="#item-0" class="link-phthalo-green text-decoration-none">Verificați în întregime avizul de confidențialitate</a></li>
    </ul>

    <hr id="item-0"/>
    <h1 class="display-6 text-uppercase">Tabelul de conținut</h1>
    <h4>1. Ce informații colectăm?</h4>
    <h4>2. Cum procesăm informațiile dvs.?</h4>
    <h4>3. Pe ce temeiuri juridice ne bazăm pentru a procesa informațiile dvs. personale?</h4>
    <h4>4. Când și cu cine împărtășim informațiile dvs. personale?</h4>
    <h4>5. Utilizăm cookie-uri și alte tehnologii de urmărire?</h4>
    <h4>6. Cum gestionăm datele dvs. de conectare socială?</h4>
    <h4>7. Cât timp păstrăm informațiile dvs.?</h4>
    <h4>8. Cum păstrăm informațiile dvs. în siguranță?</h4>
    <h4>9. Care sunt drepturile dumneavoastră de confidențialitate?</h4>
    <h4>10. Controluri pentru caracteristicile Do-Not-Track</h4>
    <h4>11. Facem actualizări la această notificare?</h4>
    <h4>12. Cum ne puteți contacta în legătură cu această notificare?</h4>
    <h4>13. Cum puteți revizui, actualiza sau șterge datele pe care le colectăm de la dvs.?</h4>


    <hr id="item-1" />
    <h1 class="display-6 text-uppercase">1. Ce informații colectăm?</h1>
    <h2>Informații personale pe care ni le dezvăluiți</h2>
    <p><strong>Pe scurt:</strong> Colectăm informații personale pe care ni le furnizați.</p>
    <p>Colectăm informații personale pe care ni le furnizați în mod voluntar atunci când vă înregistrați pe platforma noastră, vă exprimați interesul de a obține informații despre noi sau despre produsele și Serviciile noastre, când participați la activități pe platforma noastră sau când ne contactați în alt mod.</p>
    <h3>Informații personale furnizate de dvs.</h3>
    <p>Informațiile cu caracter personal pe care le colectăm depind de contextul interacțiunilor dvs. cu noi și cu Serviciile, de alegerile făcute și de produsele și caracteristicile utilizate. Informațiile personale pe care le colectăm pot include următoarele:</p>
    <ul>
        <li>Nume</li>
        <li>Adrese de e-mail</li>
        <li>Nume de utilizator</li>
        <li>Parole</li>
    </ul>
    <p><strong>Informații sensibile:</strong> Nu prelucrăm informații sensibile.</p>
    <h3>Datele de conectare la social media</h3>
    <p>Vă putem oferi opțiunea de a vă înregistra cu noi folosind detaliile contului dvs. de social media existent, cum ar fi contul dvs. Google sau alt cont social media. Dacă alegeți să vă înregistrați în acest mod, vom colecta informațiile descrise în secțiunea intitulată "Cum Gestionăm datele dvs. de conectare socială?" de mai jos.</p>
    <p>Toate informațiile personale pe care ni le furnizați trebuie să fie adevărate, complete și exacte și trebuie să ne anunțați despre orice modificare a acestor informații personale.</p>
    <h2>Informații colectate automat</h2>
    <p><strong>Pe scurt:</strong> Unele informații — cum ar fi adresa dvs. de protocol de internet (IP) și/sau caracteristicile browserului și dispozitivului — sunt colectate automat atunci când vizitați Serviciile noastre.</p>
    <p>Colectăm automat anumite informații atunci când vizitați, utilizați sau navigați prin Servicii. Aceste informații nu vă dezvăluie identitatea specifică (cum ar fi numele sau informațiile de contact), dar pot include informații despre dispozitiv și utilizare, cum ar fi:</p>
    <ul>
        <li>Adresa IP</li>
        <li>Caracteristicile browserului și dispozitivului</li>
        <li>Sistemul de operare</li>
        <li>Preferințele lingvistice</li>
        <li>URL-urile de referință</li>
        <li>Numele dispozitivelor</li>
        <li>Țara și locația</li>
        <li>Informațiile despre cum și când utilizați Serviciile noastre</li>
        <li>Alte informații tehnice</li>
    </ul>
    <p>Aceste informații sunt necesare în primul rând pentru a menține securitatea și funcționarea Serviciilor noastre și pentru scopurile noastre interne de analiză și raportare.</p>
    <p>La fel ca multe companii, colectăm informații prin intermediul cookie-urilor și a tehnologiilor similare.</p>
    <h3>Informațiile pe care le colectăm includ:</h3>
    <ul>
        <li><strong>Log și date de utilizare:</strong> Datele de logare și utilizare sunt informații legate de servicii, de diagnosticare, utilizare și performanță pe care serverele noastre le colectează automat atunci când accesați sau utilizați Serviciile noastre și pe care le înregistrăm în fișiere de jurnal.</li>
        <li><strong>Datele dispozitivului:</strong> Colectăm date despre dispozitiv, cum ar fi informații despre calculatorul, telefonul, tableta sau alt dispozitiv pe care îl utilizați pentru a accesa Serviciile.</li>
    </ul>
    <p>În funcție de dispozitivul utilizat, aceste date despre dispozitiv pot include următoarele informații:</p>
    <ul>
        <li><strong>Adresa IP (sau serverul proxy):</strong> Adresa IP sau serverul proxy al dispozitivului.</li>
        <li><strong>Numerele de identificare ale dispozitivului și aplicației:</strong> Numerele utilizate pentru identificarea unică a dispozitivului și a aplicației sale.</li>
        <li><strong>Locația:</strong> Locația fizică a dispozitivului (dacă este disponibilă).</li>
        <li><strong>Tipul de browser:</strong> Browserul web utilizat de dispozitiv.</li>
        <li><strong>Modelul hardware:</strong> Modelul hardware al dispozitivului.</li>
        <li><strong>Furnizorul de servicii de internet și/sau operatorul de telefonie mobilă:</strong> Furnizorul de servicii de internet sau operatorul de telefonie mobilă asociat cu dispozitivul.</li>
        <li><strong>Sistemul de operare:</strong> Sistemul de operare al dispozitivului.</li>
        <li><strong>Informații despre configurarea sistemului:</strong> Alte informații despre configurarea sistemului dispozitivului.</li>
    </ul>


    <hr id="item-2" />
    <h1 class="display-6 text-uppercase">2. Cum procesăm informațiile dvs.?</h1>
    <p><strong>Pe scurt:</strong> Procesăm informațiile dvs. pentru a furniza, îmbunătăți și administra Serviciile noastre, pentru a comunica cu dvs., pentru securitate și prevenirea fraudei și pentru a respecta legea. De asemenea, putem prelucra informațiile dumneavoastră în alte scopuri cu consimțământul dumneavoastră.</p>
    <p>Prelucrăm informațiile dvs. personale pentru o varietate de motive, în funcție de modul în care interacționați cu Serviciile noastre, inclusiv:</p>
    <ul>
        <li><strong>Pentru a facilita crearea și autentificarea contului și pentru a gestiona în alt mod conturile de utilizator:</strong> Putem prelucra informațiile dvs. astfel încât să vă puteți crea și conecta la contul dvs., precum și să vă mențineți contul în stare de funcționare.</li>
        <li><strong>Pentru a vă trimite informații administrative:</strong> Putem prelucra informațiile dvs. pentru a vă trimite detalii despre produsele și serviciile noastre, modificări ale termenilor și politicilor noastre și alte informații similare.</li>
        <li><strong>Pentru a salva sau proteja interesele vitale ale unei persoane:</strong> Putem prelucra informațiile dvs. atunci când este necesar pentru a salva sau proteja interesele vitale ale unei persoane, cum ar fi pentru a preveni prejudiciul.</li>
    </ul>


    <hr id="item-3" />
    <h1 class="display-6 text-uppercase">3. Pe ce temeiuri juridice ne bazăm pentru a procesa informațiile dvs.?</h1>
    <p><strong>Pe scurt:</strong> Noi prelucrăm informațiile dvs. personale numai atunci când considerăm că este necesar și avem un motiv legal valid (adică o bază legală) pentru a face acest lucru în conformitate cu legea aplicabilă, cum ar fi cu consimțământul dvs., pentru a respecta legile, pentru a vă oferi servicii pentru a ne îndeplini obligațiile contractuale, să vă protejăm drepturile sau să ne înfăptuim interesele legitime de afaceri.</p>
    <p>Regulamentul general privind protecția datelor (GDPR) și GDPR din Marea Britanie ne solicită să explicăm temeiurile legale valabile pe care ne bazăm pentru a vă prelucra informațiile personale. Ca atare, ne putem baza pe următoarele temeiuri legale pentru a prelucra informațiile dvs. personale:</p>
    <ol>
        <li><strong>Consimțământul:</strong> Putem prelucra informațiile dvs. dacă ne-ați acordat permisiunea (adică consimțământul) de a vă utiliza informațiile personale pentru un scop specific. Vă puteți retrage consimțământul în orice moment. Aflați mai multe despre retragerea consimțământului dvs.</li>
        <li><strong>Executarea unui contract:</strong> Putem prelucra informațiile dvs. personale atunci când considerăm că este necesar pentru a ne îndeplini obligațiile contractuale față de dvs., inclusiv pentru a furniza Serviciile noastre sau la cererea dvs. înainte de a încheia un contract cu dvs.</li>
        <li><strong>Obligații legale:</strong> Putem prelucra informațiile dvs. în cazul în care considerăm că este necesar pentru respectarea obligațiilor noastre legale, cum ar fi pentru a coopera cu un organism de aplicare a legii sau cu o agenție de reglementare, pentru a ne exercita sau apăra drepturile legale sau pentru a dezvălui informațiile ca dovezi într-un litigiu în care suntem implicați.</li>
        <li><strong>Interesele vitale:</strong> Putem prelucra informațiile dvs. în cazul în care considerăm că este necesar pentru a proteja interesele dvs. vitale sau interesele vitale ale unei terțe părți, cum ar fi situațiile care implică amenințări potențiale la adresa siguranței oricărei persoane.</li>
    </ol>


    <hr id="item-4" />
    <h1 class="display-6 text-uppercase">4. Când și cu cine împărtășim informațiile dvs. personale?</h1>
    <p><strong>Pe scurt:</strong> Putem partaja informații în situații specifice descrise în această secțiune și/sau cu următoarele terțe părți.</p>
    <p>Este posibil să avem nevoie să vă împărtășim informațiile personale în următoarele situații:</p>
    <ol>
        <li><strong>Transferuri de afaceri:</strong> Putem partaja sau transfera informațiile dvs. în legătură cu, sau în timpul negocierilor privind, orice fuziune, vânzare a activelor companiei, finanțare sau achiziționarea întregii sau a unei părți a afacerii noastre către o altă companie.</li>
        <li><strong>Când folosim Google Analytics:</strong> Putem partaja informațiile dvs. cu Google Analytics pentru a urmări și analiza utilizarea Serviciilor. Pentru a renunța la urmărirea de către Google Analytics în cadrul Serviciilor, vizitați <a class="link-phthalo-green text-decoration-none" href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>. Pentru mai multe informații despre practicile de confidențialitate ale Google, vă rugăm să vizitați pagina Google privind confidențialitatea și termenii.</li>
    </ol>


    <hr id="item-5" />
    <h1 class="display-6 text-uppercase">5. Utilizăm cookie-uri și alte tehnologii de urmărire?</h1>
    <p><strong>Pe scurt:</strong> Putem folosi cookie-uri și alte tehnologii de urmărire pentru a colecta și stoca informațiile dvs.</p>
    <p>Putem utiliza cookie-uri și tehnologii similare de urmărire (cum ar fi web beacons și pixeli) pentru a accesa sau stoca informații.</p>


    <hr id="item-6" />
    <h1 class="display-6 text-uppercase">6. Cum gestionăm datele dvs. de conectare socială?</h1>
    <p><strong>Pe scurt:</strong> Dacă alegeți să vă înregistrați sau să vă conectați la Serviciile noastre folosind un cont de social media, este posibil să avem acces la anumite informații despre dvs.</p>
    <p>Serviciile noastre vă oferă posibilitatea să vă înregistrați și să vă conectați folosind detaliile contului dvs. de social media de la o terță parte. În cazul în care alegeți să faceți acest lucru, vom primi anumite informații de profil despre dvs. de la furnizorul de rețele de socializare. Informațiile de profil pe care le primim pot varia în funcție de furnizorul de social media în cauză, dar vor include adesea numele, adresa de e-mail, lista de prieteni și fotografia de profil, precum și alte informații pe care alegeți să le faceți publice pe o astfel de platformă de socializare.</p>
    <p>Vom folosi informațiile pe care le primim numai în scopurile descrise în această notificare de confidențialitate sau care sunt altfel clarificate pentru dvs. pe Serviciile relevante. Vă rugăm să rețineți că nu controlăm și nu suntem responsabili pentru alte utilizări ale informațiilor dvs. personale de către furnizorul dvs. terț de rețele de socializare. Vă recomandăm să revizuiți avizul lor de confidențialitate pentru a înțelege cum colectează, utilizează și partajează informațiile dvs. personale și cum puteți seta preferințele dvs. privind confidențialitatea pe site-urile și aplicațiile lor.</p>
    

    <hr id="item-7" />
    <h1 class="display-6 text-uppercase">7. Cât timp păstrăm informațiile dvs.?</h1>
    <p><strong>Pe scurt:</strong> păstrăm informațiile dvs. atât timp cât este necesar pentru îndeplinirea scopurilor descrise în această notificare de confidențialitate, cu excepția cazului în care legea prevede altfel.</p>
    <p>Vom păstra informațiile dvs. personale doar atât timp cât este necesar pentru scopurile stabilite în această notificare de confidențialitate, cu excepția cazului în care o perioadă mai lungă de păstrare este necesară sau permisă de lege. Niciun scop din această notificare nu ne va cere să păstrăm informațiile dvs. personale mai mult decât perioada de timp în care utilizatorii au un cont cu noi.</p>
    <p>Atunci când nu avem o nevoie legitimă de afaceri în curs de desfășurare pentru a vă prelucra informațiile personale, vom șterge sau anonimiza aceste informații sau, dacă acest lucru nu este posibil (de exemplu, deoarece informațiile dvs. personale au fost stocate în arhive de rezervă), atunci vom stoca în siguranță informațiile dumneavoastră personale și le vom izola de orice prelucrare ulterioară până când ștergerea este posibilă.</p>
    

    <hr id="item-8" />
    <h1 class="display-6 text-uppercase">8. Cum păstrăm informațiile dvs. în siguranță?</h1>
    <p><strong>Pe scurt:</strong> Ne propunem să vă protejăm informațiile personale printr-un sistem de măsuri de securitate organizatorice și tehnice.</p>
    <p>Am implementat măsuri de securitate tehnice și organizatorice adecvate și rezonabile concepute pentru a proteja securitatea oricăror informații personale pe care le prelucrăm. Cu toate acestea, în ciuda garanțiilor și eforturilor noastre de a vă proteja informațiile, nicio transmisie electronică prin Internet sau tehnologie de stocare a informațiilor nu poate fi garantată ca fiind 100% sigură, astfel încât nu putem promite sau garanta că hackerii, infractorii cibernetici sau alte terțe părți neautorizate nu vor putea să ne învingă securitatea și să colecteze, să acceseze, să fure sau să modifice în mod necorespunzător informațiile dvs. Deși vom face tot posibilul pentru a vă proteja informațiile personale, transmiterea informațiilor personale către și de la Serviciile noastre este pe propriul dvs. risc. Trebuie să accesați Serviciile numai într-un mediu securizat.</p>


    <hr id="item-9" />
    <h1 class="display-6 text-uppercase">9. Care sunt drepturile dumneavoastră de confidențialitate?</h1>
    <p><strong>Pe scurt:</strong> În unele regiuni aveți drepturi care vă permit un acces mai mare la și control asupra informațiilor dvs. personale. Aveți dreptul să vă revizuiți, să vă modificați sau să vă închideți contul în orice moment.</p>
    <p>În unele regiuni aveți anumite drepturi în conformitate cu legile aplicabile privind protecția datelor. Acestea pot include dreptul:</p>
    <ol>
        <li>De a solicita accesul la și de a obține o copie a informațiilor dvs. personale</li>
        <li>Să solicitați rectificarea sau ștergerea informațiilor dvs. personale</li>
        <li>Să restricționați prelucrarea informațiilor dvs. personale</li>
        <li>Dacă este cazul, la portabilitatea datelor</li>
        <li>Să nu faceți obiectul procesului de luare a deciziilor automatizate</li>
    </ol>
    <p>În anumite circumstanțe, puteți avea, de asemenea, dreptul de a obiecta la prelucrarea informațiilor dvs. personale. Puteți face o astfel de solicitare contactându-ne folosind detaliile de contact furnizate în secțiunea "Cum ne puteți contacta în legătură cu această notificare?" de mai jos.</p>
    <p>Vom lua în considerare și vom acționa în urma oricărei solicitări în conformitate cu legile aplicabile privind protecția datelor. Dacă vă aflați în SEE sau Regatul Unit și credeți că prelucrăm în mod ilegal informațiile dvs. personale, aveți, de asemenea, dreptul de a depune o plângere la autoritatea de protecție a datelor din statul membru dvs. sau autoritatea britanică pentru protecția datelor.</p>
    <p>Dacă vă aflați în Elveția, puteți contacta comisarul federal pentru protecția datelor și informații.</p>
    <p>În cazul în care ne bazăm pe consimțământul dvs. pentru prelucrarea datelor dvs. cu caracter personal, care poate fi expres și/sau implicit, în funcție de legea aplicabilă, aveți dreptul de a vă retrage consimţământul în orice moment. Puteți să vă retrageți consimțământul în orice moment contactându-ne folosind detaliile de contact furnizate în secțiunea "Cum ne puteți contacta în legătură cu această notificare?" de mai jos.</p>
    <p>Cu toate acestea, vă rugăm să rețineți că acest lucru nu va afecta legalitatea prelucrării înainte de retragerea acesteia și nici, în cazul în care legea aplicabilă permite acest lucru, nu va influența procesarea datelor dumneavoastră cu caracter personal efectuată pe baza unor temeiuri legale de prelucrare, altele decât consimțământul.</p>
    <p><strong>Informații despre cont:</strong> Dacă doriți în orice moment să revizuiți sau să modificați informațiile din contul dvs. sau să vă închideți contul, puteți: Conectați-vă la setările contului dvs. și actualizați Contul de utilizator. La cererea dvs. de a vă închide contul, vă vom dezactiva sau șterge contul și informațiile din bazele noastre de date active. Cu toate acestea, este posibil să păstrăm anumite informații în fișierele noastre pentru a preveni frauda, a rezolva probleme, a ajuta la orice investigații, a pune în aplicare termenii legali și / sau a respecta cerințele legale aplicabile.</p>
    <p><strong>Cookie-uri și tehnologii similare:</strong>Cele mai multe browsere web sunt setate să accepte cookie-uri în mod implicit. Dacă preferați, puteți alege de obicei să setați browser-ul dvs. să elimine cookie-uri și să respingă cookie-urile. Dacă alegeți să eliminați cookie-urile sau să refuzați cookie-urile, acest lucru poate afecta anumite caracteristici sau servicii ale Serviciilor noastre.</p>
    <p>Dacă aveți întrebări sau comentarii cu privire la drepturile dvs. de confidențialitate, ne puteți trimite un e-mail la <a class="link-phthalo-green text-decoration-none" href="mailto:morality.matrix.2024@gmail.com">morality.matrix.2024@gmail.com</a>.</p>


    <hr id="item-10" />
    <h1 class="display-6 text-uppercase">10. Controluri pentru caracteristicile Do-Not-Track</h1>
    <p>Majoritatea browserelor web și unele sisteme de operare mobile și aplicații mobile includ o caracteristică Do-Not-Track ("DNT") sau o setare pe care o puteți activa pentru a semnala preferința dvs. de confidențialitate de a nu avea date despre activitățile dvs. online de navigare monitorizate și colectate. În acest stadiu, nu a fost finalizat niciun standard tehnologic uniform pentru recunoașterea și implementarea semnalelor DNT. Ca atare, nu răspundem în prezent la semnalele DNT ale browser-ului sau la orice alt mecanism care comunică automat alegerea dvs. de a nu fi urmărit online. Dacă este adoptat un standard pentru urmărirea online pe care trebuie să îl urmăm în viitor, vă vom informa despre această practică într-o versiune revizuită a acestui aviz de confidențialitate.</p>


    <hr id="item-11" />
    <h1 class="display-6 text-uppercase">11. Facem actualizări la această notificare?</h1>
    <p>Da, vom actualiza această notificare de confidențialitate din când în când pentru a rămâne în conformitate cu legile relevante.</p>
    <p>Este posibil să actualizăm această notificare de confidențialitate din când în când. Versiunea actualizată va fi indicată printr-o dată "Revizuită" și va intra în vigoare de îndată ce va fi accesibilă. În cazul în care facem modificări substanțiale la această notificare de confidențialitate, vă putem notifica fie prin postarea în mod proeminent a unor astfel de modificări, fie prin trimiterea directă a unei notificări. Vă încurajăm să revizuiți frecvent această notificare de confidențialitate pentru a fi informați despre modul în care vă protejăm informațiile.</p>


    <hr id="item-12" />
    <h1 class="display-6 text-uppercase">12. Cum ne puteți contacta în legătură cu această notificare?</h1>
    <p>Dacă aveți întrebări sau comentarii cu privire la această notificare, ne puteți trimite un e-mail la <a class="link-phthalo-green text-decoration-none" href="mailto:morality.matrix.2024@gmail.com">morality.matrix.2024@gmail.com</a>.</p>
    


    <hr id="item-13" />
    <h1 class="display-6 text-uppercase">13. Cum puteți revizui, actualiza sau șterge datele pe care le colectăm de la dvs.?</h1>
    <p>În conformitate cu legile aplicabile din țara dvs., puteți avea dreptul de a solicita accesul la informațiile personale pe care le colectăm de la dvs., de a modifica aceste informații sau de a le șterge. Pentru a solicita revizuirea, actualizarea sau ștergerea informațiilor dvs. personale, vă rugăm să vizitați <a class="link-phthalo-green" asp-area="Identity" asp-page="/Account/Manage/Index">pagina aceasta</a>.</p>

</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active");
            $("#privacy").addClass("active");
        });
    </script>
}