@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="col-md-4 container text-start mb-4 pt-2">
    <img class="img-fluid" src="@Url.Content("~/images/png/logo-no-background.png")" />
</div>
<div class="d-flex justify-content-start justify-content-md-center">
    <partial name="_ManageNav" />
</div>
<hr />

<div class="my-4">
    <div class="row text-center">
        @if(User.IsInRole("Admin"))
        {
            <h1>Gestionează conținutul</h1>
            <p class="lead">Modifică și administrează conținutul aplicației</p>
        }
        else
        {
            <h1>Gestionează-ți contul</h1>
            <p class="lead">Modifică setările contului</p>
        }
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="container col-md-6">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active");
            $("#manage").addClass("active");
        });
    </script>
}